/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 150px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/**
* Icon spinning
*/
.spinner {
    -webkit-animation:rotateImg 5s linear infinite;
    width: 70px ;
    height: 70px;
    border: 0px solid #ccc;
    vertical-align: middle;
}

@keyframes rotateImg {
    0% {transform : rotate(0deg);}
    100% {transform : rotate(360deg);}
}

@-webkit-keyframes rotateImg {
    0%{-webkit-transform : rotate(0deg);}
    100%{-webkit-transform : rotate(360deg);}
}



.blog-navigator {
    margin-top : 0; 
    margin-left : 50; 
    height : 150;
}

.blog-header {
    /* background-image: "url(/shared/assets/img/yuii.jpg)",; */
    /* background-position: "right bottom";
    background-size: "cover"; */
    /* border-bottom: 1px solid grey; */
    box-shadow: 7px 2px 7px rgba(122, 120, 120, 0.7);
}

.blog-searchBar {
    margin-left: 65; 
    margin-top : 30;
    bottom: 0; 
    width : 600;
}

.blog-content {
    margin-left: 50; 
    margin-right: 50; 
    font-size: 20;
}


/**
* Item styles
*/
.blog-item {
    margin-left: 50;
    margin-right: 50;
    font-size: 20;
}

.blog-item-title {
    font-size: 24;
    font-weight: 500;
    color: rgb(30, 89, 199);
    text-decoration: none;
}

.blog-item-author {
    font-style: italic;
    color: rgb(235, 104, 57);
}

.blog-item-date {
    font-style: italic;
}